.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid var(--primary);
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  color: var(--dark);
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.5;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #3388ff; /* Sostituisci con una versione più chiara di --primary */
  color: #fff;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}
.btn-primary:hover {
  background-color: #0044aa; /* Sostituisci con una versione più scura di --primary */
}

.btn-success {
  background-color: var(--success);
  border-color: var(--success);
  color: #fff;
}
.btn-success:hover {
  background-color: #218838; /* Versione più scura di --success */
}

.btn-danger {
  background-color: var(--danger);
  border-color: var(--danger);
  color: #fff;
}
.btn-danger:hover {
  background-color: #c82333; /* Versione più scura di --danger */
}

.btn-warning {
  background-color: var(--warning);
  border-color: var(--warning);
  color: #fff;
}
.btn-warning:hover {
  background-color: #e0a800; /* Versione più scura di --warning */
}

.btn-dark {
  background-color: var(--dark);
  border-color: var(--dark);
  color: #fff;
}
.btn-dark:hover {
  background-color: #1d1d1d; /* Versione più scura di --dark */
}

.btn-outline-primary {
  border-color: var(--primary);
  color: var(--primary);
}
.btn-outline-primary:hover {
  background-color: var(--primary);
  color: #fff;
}

.btn-outline-success {
  border-color: var(--success);
  color: var(--success);
}
.btn-outline-success:hover {
  background-color: var(--success);
  color: #fff;
}

.btn-outline-danger {
  border-color: var(--danger);
  color: var(--danger);
}
.btn-outline-danger:hover {
  background-color: var(--danger);
  color: #fff;
}

.btn-outline-warning {
  border-color: var(--warning);
  color: var(--warning);
}
.btn-outline-warning:hover {
  background-color: var(--warning);
  color: #fff;
}

.btn-outline-dark {
  border-color: var(--dark);
  color: var(--dark);
}
.btn-outline-dark:hover {
  background-color: var(--dark);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}
