@import url(./components.css);
@import url(./helpers/classes.css);
@import url(./var.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 840px;
  padding: 0px 15px;
  margin: 0px auto;
}

.active {
    font-size: 35pt;
    color: red;
}

button {
  width: 150px;
  height: 40px;
  background-color: var(--primary-color);
  text-align: center; 
}
